# dependencies
node_modules

# logs
npm-debug.log
yarn-error.log
.yarnclean

# storm project configs
.idea/*
.idea/**/
.DS_Store
.vscode

# exclude Idea project configs
.idea/codeStyles/
.idea/dictionaries/
.idea/externalDependencies.xml
.idea/misc.xml
.idea/watcherTasks.xml

# dotenv environment variables file (API requisits)
#.env

# Test results
coverage
.nuxt-build-jest

# Eslint
.eslintcache
